header{
  background-image: url("images/intro-bg.jpg");
  color: white;
  padding: 200px 0;
  background-position: center;
  height: 100vh;
}

header hr{
  width: 35%;
}

section hr{
  width: 35%;
text-align: left;
display: inline-block;
}

section{padding: 50px 0;}

footer{
  background-image: url("images/banner-bg.jpg");
  background-position: center;
  color: white;
  padding: 100px 0;
}
footer h1{
  margin: 0;
}

.gris{
  background-color: #f8f8f8;
}

.fin{
  margin-top: 20px;
}
